In [27]:
import pandas as pd

from statsmodels.discrete import discrete_model
import statsmodels.formula.api as smf
from statsmodels.discrete.discrete_model import Poisson as psn,NegativeBinomial as ngb,MNLogit


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import random

import scipy
from scipy import stats
from scipy.stats import binom,poisson,norm,t

import pylab
from pylab import legend, plot, show ,title, xlabel, ylabel

import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats as ssw

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

from statsmodels.stats.outliers_influence import variance_inflation_factor

from statsmodels.stats import proportion as ssp

from scipy.stats import chisquare, chi2_contingency

from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix,classification_report

from statsmodels import discrete
from statsmodels.discrete import discrete_model
from statsmodels.discrete.discrete_model import MNLogit

from statsmodels.miscmodels.ordinal_model import OrderedModel

# Negative Binomial Regression

In [28]:
df=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='neg_bin')

In [29]:
df.head()

   math      prog  daysabs
0    63  Academic        4
1    27  Academic        4
2    20  Academic        2
3    16  Academic        3
4     2  Academic        3

In [30]:
prog_dum=pd.get_dummies(df.prog,drop_first=True,prefix='prog')

In [31]:
df=df.drop('prog',axis=1)

In [32]:
df=pd.concat([df,prog_dum],axis=1)

In [33]:
df

     math  daysabs  prog_General  prog_Vocational
0      63        4         False            False
1      27        4         False            False
2      20        2         False            False
3      16        3         False            False
4       2        3         False            False
..    ...      ...           ...              ...
309    26        1         False            False
310    79        3         False             True
311    59        0         False            False
312    90        0         False             True
313    77        2         False             True

[314 rows x 4 columns]

In [34]:
x=df.drop('daysabs',axis=1)
y=df.daysabs

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=20)

In [37]:
x_train=sm.add_constant(x_train,prepend=False)

In [39]:
train_set=pd.concat([x_train,y_train],axis=1)

In [40]:
mod1=ngb.from_formula('daysabs ~ math+prog_General+prog_Vocational',data=train_set).fit()

Optimization terminated successfully.
         Current function value: 2.819371
         Iterations: 19
         Function evaluations: 26
         Gradient evaluations: 26

In [41]:
print(mod1.summary())

                     NegativeBinomial Regression Results
==============================================================================
Dep. Variable:                daysabs   No. Observations:                  251
Model:               NegativeBinomial   Df Residuals:                      247
Method:                           MLE   Df Model:                            3
Date:                Mon, 23 Dec 2024   Pseudo R-squ.:                 0.03229
Time:                        09:42:02   Log-Likelihood:                -707.66
converged:                       True   LL-Null:                       -731.28
Covariance Type:            nonrobust   LLR p-value:                 3.104e-10
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                   2.2587      0.144     15.644      0.000       1.976       2.542
prog_General[T.True]        0.3942      0.198      1.989      0.047       0.006       0.783
prog_Vocational[T.True]    -0.7389      0.160     -4.616      0.000      -1.053      -0.425
math                       -0.0070      0.003     -2.506      0.012      -0.012      -0.002
alpha                       0.9326      0.106      8.811      0.000       0.725       1.140
===========================================================================================