google search technique - mcq questions for descriptive statistics site.edu filetype.pdf  (put this on google)

Multicollinearity is a problem with regression

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import random

import scipy
from scipy import stats
from scipy.stats import binom,poisson,norm,t

import pylab
from pylab import legend, plot, show ,title, xlabel, ylabel

import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats as ssw

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

from statsmodels.stats import proportion as ssp

from scipy.stats import chisquare, chi2_contingency

from sklearn.model_selection import train_test_split

# Different type of categories and their regressions which will be done-
1. Binary(0/1).
2. Nominal(multi categories,no logical order).
3. Ordinal(multi categories,proper logical order).

Binary and Categorical Logistic Regression

Binary Logistic Regression

In [7]:
import pandas as pd

In [8]:
df=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='mtcars')

In [9]:
df=df[['hp','wt','am']]

In [11]:
df.head()

    hp     wt  am
0  110  2.620   1
1  110  2.875   1
2   93  2.320   1
3  110  3.215   0
4  175  3.440   0

In [14]:
x_train=df.drop('am',axis=1)
y_train=df.am
x_train=sm.add_constant(x_train,prepend=False)

In [15]:
mod5=sm.Logit(y_train,x_train).fit()

Optimization terminated successfully.
         Current function value: 0.157174
         Iterations 9

In [16]:
print(mod5.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                     am   No. Observations:                   32
Model:                          Logit   Df Residuals:                       29
Method:                           MLE   Df Model:                            2
Date:                Thu, 19 Dec 2024   Pseudo R-squ.:                  0.7673
Time:                        11:49:28   Log-Likelihood:                -5.0296
converged:                       True   LL-Null:                       -21.615
Covariance Type:            nonrobust   LLR p-value:                 6.267e-08
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
hp             0.0363      0.018      2.044      0.041       0.001       0.071
wt            -8.0835      3.069     -2.634      0.008     -14.098      -2.069
const         18.8663      7.444      2.535      0.011       4.277      33.455
==============================================================================

Possibly complete quasi-separation: A fraction 0.12 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [19]:
# Ho:hp does not influence choice between 0 and 1.
# Ho:wt does not influence choice between 0 and 1.

# Conclusion-
# hp influences the choice between 0 and 1.

In [20]:
# log of a value less than 1 is always negative

In [21]:
np.log(3/7)

np.float64(-0.8472978603872037)

In [25]:
np.log(0.3/(1-.3))

np.float64(-0.8472978603872036)

In [23]:
#Log of a value less than 1 is always negative

In [50]:
mydata=pd.DataFrame([[90,2.5,1],[100,2.5,1],[110,2.5,1]],columns=df.columns)
mydata

    hp   wt  am
0   90  2.5   1
1  100  2.5   1
2  110  2.5   1

In [30]:
mod5.predict(mydata)

0    0.872207
1    0.907474
2    0.933747
dtype: float64

In [49]:
(np.log(0.933747/(1-0.933747))-np.log(0.907474/(1-0.907474)))/10

np.float64(0.03625495472432383)

In [51]:
mydata=pd.DataFrame([[100,2.5,1],[100,2.6,1],[100,2.7,1]],columns=df.columns) 
mydata

    hp   wt  am
0  100  2.5   1
1  100  2.6   1
2  100  2.7   1

In [52]:
mod5.predict(mydata)

0    0.907474
1    0.813789
2    0.660713
dtype: float64

In [55]:
(np.log(0.660713/(1-0.660713))-np.log(0.813789/(1-0.813789)))/.1

np.float64(-8.083474812180759)