In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import random

import scipy
from scipy import stats
from scipy.stats import binom,poisson,norm,t

import pylab
from pylab import legend, plot, show ,title, xlabel, ylabel

import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats as ssw

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

from statsmodels.stats.outliers_influence import variance_inflation_factor

from statsmodels.stats import proportion as ssp

from scipy.stats import chisquare, chi2_contingency

from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix,classification_report

from statsmodels import discrete
from statsmodels.discrete import discrete_model
from statsmodels.discrete.discrete_model import MNLogit

from statsmodels.miscmodels.ordinal_model import OrderedModel

In [2]:
#in ordinal we do not add a constant.

In [3]:
df=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='ordinal')
df

    Survival  Region  ToxicLevel
0          1       1       62.00
1          1       2       46.00
2          2       1       48.50
3          3       2       32.00
4          2       1       63.50
..       ...     ...         ...
68         2       2       51.00
69         2       2       35.25
70         1       2       40.50
71         2       2       39.50
72         3       2       36.00

[73 rows x 3 columns]

In [4]:
reg_dum=pd.get_dummies(df.Region,drop_first=True,prefix='region',dtype=int)

In [5]:
df=df.drop('Region',axis=1)

In [6]:
df=pd.concat([df,reg_dum],axis=1)

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df.drop('Survival',axis=1),df.Survival,test_size=.2,random_state=20)

In [8]:
mod_ord=OrderedModel(y_train,x_train).fit()

Optimization terminated successfully.
         Current function value: 0.844881
         Iterations: 190
         Function evaluations: 326

In [9]:
print(mod_ord.summary())

                             OrderedModel Results
==============================================================================
Dep. Variable:               Survival   Log-Likelihood:                -49.003
Model:                   OrderedModel   AIC:                             106.0
Method:            Maximum Likelihood   BIC:                             114.2
Date:                Sat, 21 Dec 2024
Time:                        17:18:00
No. Observations:                  58
Df Residuals:                      54
Df Model:                           2
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ToxicLevel    -0.0697      0.020     -3.534      0.000      -0.108      -0.031
region_2      -0.4037      0.314     -1.285      0.199      -1.020       0.212
1/2           -4.2309      0.983     -4.303      0.000      -6.158      -2.304
2/3            0.6615      0.146      4.545      0.000       0.376       0.947
==============================================================================

In [10]:
# Ho: toxic level does not inluence survival rate
# It is rejected since p<.05

#Ho: change in region from 1 to 2 has no effect on the survival rating

# Poisson regression
- when the variation in the counts is less.

# Negative Binomial
- when the variation in the counts is more

# Poisson regression-

In [30]:
#poisson regression

import statsmodels.formula.api as smf
from statsmodels.discrete.discrete_model import Poisson as psn

In [14]:
df=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='poisson') #numbers are whole numbers

In [15]:
df.head()

   num_awards  prog  math
0           0     3    41
1           0     1    41
2           0     3    44
3           0     3    42
4           0     3    40

In [16]:
prog_dummy=pd.get_dummies(df['prog'],drop_first=True,dtype=int,prefix='prog')

In [17]:
df=df.drop('prog',axis=1)
df=pd.concat([df,prog_dummy],axis=1)
df.head()

   num_awards  math  prog_2  prog_3
0           0    41       0       1
1           0    41       0       0
2           0    44       0       1
3           0    42       0       1
4           0    40       0       1

In [18]:
x_train,x_test,y_train,y_test=train_test_split(df.drop('num_awards',axis=1),df.num_awards,test_size=0.2,random_state=20)

In [19]:
x_train=sm.add_constant(x_train,prepend=False)

In [20]:
df_train=pd.concat([x_train,y_train],axis=1)

In [23]:
mod1=psn.from_formula('num_awards ~ math+prog_2+prog_3',data=df_train).fit()

Optimization terminated successfully.
         Current function value: 0.871654
         Iterations 6

In [25]:
print(mod1.summary())

                          Poisson Regression Results
==============================================================================
Dep. Variable:             num_awards   No. Observations:                  160
Model:                        Poisson   Df Residuals:                      156
Method:                           MLE   Df Model:                            3
Date:                Sat, 21 Dec 2024   Pseudo R-squ.:                  0.1865
Time:                        17:43:36   Log-Likelihood:                -139.46
converged:                       True   LL-Null:                       -171.44
Covariance Type:            nonrobust   LLR p-value:                 8.447e-14
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -5.0741      0.780     -6.503      0.000      -6.603      -3.545
math           0.0661      0.013      5.154      0.000       0.041       0.091
prog_2         1.1048      0.407      2.711      0.007       0.306       1.903
prog_3         0.3667      0.506      0.724      0.469      -0.626       1.359
==============================================================================

Ho: math score does not influence number of awards<br>
p-value<.05 so we reject the null hypothesis<br>
as math score increases, the number of awards increases.

for prog_2- <br>
1. Ho: as the program changes from 1 to 2 it has no influence on the number of awards.<br>
2. p-value<0.05 - so we reject the null hypothesis.<br>
3. As the program type changes from prog1 to prog2, the number of awards increases.

#Exercise 
name of test and exaplanation(slight) | example  |  program(just last part)  on an excel sheet or paper table type.

Left tail | right tail |  Two tail test for each of the above exercise

SLR,MLR,BINOMIAL, NOMINAL, ORDINAL,POISSON,negative binomial

1. negative binomial
2. Standardization/scaling of values
3. feature selection
4. Lasso and ridge regression.