In [197]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import random

import scipy
from scipy import stats
from scipy.stats import binom,poisson,norm,t

import pylab
from pylab import legend, plot, show ,title, xlabel, ylabel

import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats as ssw

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

from statsmodels.stats import proportion as ssp

from scipy.stats import chisquare, chi2_contingency

from sklearn.model_selection import train_test_split

In [198]:
df=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='faithful')

In [199]:
x_train,x_test,y_train,y_test=train_test_split(df.waiting,df.eruptions,test_size=0.2,random_state=20)

In [200]:
x_train=sm.add_constant(x_train,prepend=False)

In [201]:
mod1=sm.OLS(y_train,x_train).fit()

In [202]:
print(mod1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              eruptions   R-squared:                       0.802
Model:                            OLS   Adj. R-squared:                  0.801
Method:                 Least Squares   F-statistic:                     871.7
Date:                Wed, 18 Dec 2024   Prob (F-statistic):           1.37e-77
Time:                        15:43:09   Log-Likelihood:                -160.39
No. Observations:                 217   AIC:                             324.8
Df Residuals:                     215   BIC:                             331.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
waiting        0.0759      0.003     29.525      0.000       0.071       0.081
const         -1.9119      0.185    -10.326      0.000      -2.277      -1.547
==============================================================================
Omnibus:                        4.570   Durbin-Watson:                   1.937
Prob(Omnibus):                  0.102   Jarque-Bera (JB):                2.855
Skew:                          -0.053   Prob(JB):                        0.240
Kurtosis:                       2.448   Cond. No.                         386.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [158]:
x_test=sm.add_constant(x_test,prepend=False)

In [159]:
y_pred=mod1.predict(x_test)

In [160]:
y_test.head()

72     4.500
132    2.800
129    4.650
29     4.433
87     4.517
Name: eruptions, dtype: float64

In [161]:
y_pred.head()

72     4.083201
132    2.337782
129    4.917967
29     4.083201
87     4.159089
dtype: float64

# Multiple Linear Regression

In [162]:
df=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='stackloss')

In [163]:
df.head()

   AirFlow  WaterTemp  AcidConc  StackLoss
0       80         27        89         42
1       80         27        88         37
2       75         25        90         37
3       62         24        87         28
4       62         22        87         18

In [164]:
x_train,x_test,y_train,y_test=train_test_split(df.drop('StackLoss',axis=1),df.StackLoss,test_size=0.2,random_state=20)

In [165]:
x_train=sm.add_constant(x_train,prepend=False)
x_test=sm.add_constant(x_test,prepend=False)

In [166]:
mod2=sm.OLS(y_train,x_train).fit()

In [167]:
print(mod2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              StackLoss   R-squared:                       0.893
Model:                            OLS   Adj. R-squared:                  0.867
Method:                 Least Squares   F-statistic:                     33.46
Date:                Wed, 18 Dec 2024   Prob (F-statistic):           4.14e-06
Time:                        14:43:19   Log-Likelihood:                -41.238
No. Observations:                  16   AIC:                             90.48
Df Residuals:                      12   BIC:                             93.57
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
AirFlow        0.7337      0.169      4.346      0.001       0.366       1.102
WaterTemp      1.3969      0.438      3.188      0.008       0.442       2.352
AcidConc      -0.2726      0.245     -1.114      0.287      -0.806       0.261
const        -32.3094     19.465     -1.660      0.123     -74.720      10.101
==============================================================================
Omnibus:                        0.802   Durbin-Watson:                   2.243
Prob(Omnibus):                  0.670   Jarque-Bera (JB):                0.663
Skew:                          -0.437   Prob(JB):                        0.718
Kurtosis:                       2.520   Cond. No.                     2.31e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.31e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\AAYUSH\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_axis_nan_policy.py:418: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=16 observations were given.
  return hypotest_fun_in(*args, **kwds)

In [168]:
y_pred=mod2.predict(x_test)

In [169]:

x_train.shape

(16, 4)

In [170]:
sal=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='salaries')

In [171]:
sal.head()

       rank discipline  yrs_phd  yrs_service gender  salary
0      Prof          B       19           18   Male  139750
1      Prof          B       20           16   Male  173200
2  AsstProf          B        4            3   Male   79750
3      Prof          B       45           39   Male  115000
4      Prof          B       40           41   Male  141500

In [172]:
sal=sal[['gender','yrs_service','salary']]

In [173]:
sal.head()

  gender  yrs_service  salary
0   Male           18  139750
1   Male           16  173200
2   Male            3   79750
3   Male           39  115000
4   Male           41  141500

In [174]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       397 non-null    object
 1   yrs_service  397 non-null    int64
 2   salary       397 non-null    int64
dtypes: int64(2), object(1)
memory usage: 9.4+ KB

In [175]:
dum_gen=pd.get_dummies(sal.gender,drop_first=True,dtype=int)   #One-hot encoding

In [176]:
dum_gen

     Male
0       1
1       1
2       1
3       1
4       1
..    ...
392     1
393     1
394     1
395     1
396     1

[397 rows x 1 columns]

In [177]:
sal=sal.drop('gender',axis=1)

In [178]:
sal=pd.concat([sal,dum_gen],axis=1)

In [179]:
sal

     yrs_service  salary  Male
0             18  139750     1
1             16  173200     1
2              3   79750     1
3             39  115000     1
4             41  141500     1
..           ...     ...   ...
392           30  103106     1
393           19  150564     1
394           25  101738     1
395           15   95329     1
396            4   81035     1

[397 rows x 3 columns]

In [180]:
x_train,x_test,y_train,y_test=train_test_split(sal.drop('salary',axis=1),sal.salary,test_size=0.2,random_state=20)

In [181]:
x_train=sm.add_constant(x_train,prepend=False)

In [182]:
mod3=sm.OLS(y_train,x_train).fit()

In [183]:
print(mod3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.121
Model:                            OLS   Adj. R-squared:                  0.115
Method:                 Least Squares   F-statistic:                     21.52
Date:                Wed, 18 Dec 2024   Prob (F-statistic):           1.75e-09
Time:                        14:43:19   Log-Likelihood:                -3698.4
No. Observations:                 317   AIC:                             7403.
Df Residuals:                     314   BIC:                             7414.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
yrs_service   701.6382    125.946      5.571      0.000     453.834     949.442
Male         1.368e+04   5434.664      2.517      0.012    2985.362    2.44e+04
const        8.857e+04   5285.500     16.757      0.000    7.82e+04     9.9e+04
==============================================================================
Omnibus:                       28.103   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.160
Skew:                           0.696   Prob(JB):                     3.82e-08
Kurtosis:                       3.804   Cond. No.                         99.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

***
Ho: coefficient of yrs_service=0<br>
Ho: change in salary when gender changes from female to male = 0<br>
Ho(const): c=0<br>
***

# change in the response when the factor/variable changes from reference event to the target event = 0

In [184]:
sal=pd.read_excel('CDAC_DataBook.xlsx',sheet_name='salaries')

In [185]:
sal=sal[['gender','rank','yrs_service','salary']]

In [186]:
sal.head()

  gender      rank  yrs_service  salary
0   Male      Prof           18  139750
1   Male      Prof           16  173200
2   Male  AsstProf            3   79750
3   Male      Prof           39  115000
4   Male      Prof           41  141500

In [187]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       397 non-null    object
 1   rank         397 non-null    object
 2   yrs_service  397 non-null    int64
 3   salary       397 non-null    int64
dtypes: int64(2), object(2)
memory usage: 12.5+ KB

In [188]:
dum_gen=pd.get_dummies(sal.gender,drop_first=True,dtype=int)   #One-hot encoding
dum_rank=pd.get_dummies(sal['rank'],drop_first=True,dtype=int)   #One-hot encoding
# sal['rank']

In [189]:
dum_gen

     Male
0       1
1       1
2       1
3       1
4       1
..    ...
392     1
393     1
394     1
395     1
396     1

[397 rows x 1 columns]

In [190]:
sal=sal.drop(['gender','rank'],axis=1)

In [191]:
sal=pd.concat([sal,dum_gen,dum_rank],axis=1)

In [192]:
sal

     yrs_service  salary  Male  AsstProf  Prof
0             18  139750     1         0     1
1             16  173200     1         0     1
2              3   79750     1         1     0
3             39  115000     1         0     1
4             41  141500     1         0     1
..           ...     ...   ...       ...   ...
392           30  103106     1         0     1
393           19  150564     1         0     1
394           25  101738     1         0     1
395           15   95329     1         0     1
396            4   81035     1         1     0

[397 rows x 5 columns]

In [193]:
x_train,x_test,y_train,y_test=train_test_split(sal.drop('salary',axis=1),sal.salary,test_size=0.2,random_state=20)

In [194]:
x_train=sm.add_constant(x_train,prepend=False)

In [195]:
mod3=sm.OLS(y_train,x_train).fit()

In [196]:
print(mod3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.386
Model:                            OLS   Adj. R-squared:                  0.378
Method:                 Least Squares   F-statistic:                     49.00
Date:                Wed, 18 Dec 2024   Prob (F-statistic):           5.74e-32
Time:                        14:43:24   Log-Likelihood:                -3641.5
No. Observations:                 317   AIC:                             7293.
Df Residuals:                     312   BIC:                             7312.
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
yrs_service  -180.2334    130.962     -1.376      0.170    -437.913      77.447
Male         8462.3611   4579.930      1.848      0.066    -549.092    1.75e+04
AsstProf    -1.315e+04   4799.080     -2.739      0.007   -2.26e+04   -3704.257
Prof         3.416e+04   3892.681      8.775      0.000    2.65e+04    4.18e+04
const        8.793e+04   5134.418     17.126      0.000    7.78e+04     9.8e+04
==============================================================================
Omnibus:                       45.853   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               78.695
Skew:                           0.831   Prob(JB):                     8.16e-18
Kurtosis:                       4.787   Cond. No.                         112.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

***
Ho: coefficient of yrs_service=0<br>
Ho: change in salary when gender changes from female to male = 0<br>
Ho(const): c=0<br>
***

# change in the response when the factor/variable changes from reference event to the target event = 0

In [1]:
pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.5-py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: packaging in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: requests in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (2.32.3)
Collecting tqdm (from kagglehub)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2024.7.4)
Requirement already satisfied: colorama in c:\users\aayush\appdata\local\programs\python\python312\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.5-py3-none-any.whl (44 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, kagglehub
Successfully installed kagglehub-0.3.5 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mkechinov/ecommerce-behavior-data-from-multi-category-store")

print("Path to dataset files:", path)

C:\Users\AAYUSH\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/mkechinov/ecommerce-behavior-data-from-multi-category-store?dataset_version_number=8...

100%|█████████████████████████████████████████████████████████████████████████████| 4.29G/4.29G [07:18<00:00, 10.5MB/s]

Extracting files...

Path to dataset files: C:\Users\AAYUSH\.cache\kagglehub\datasets\mkechinov\ecommerce-behavior-data-from-multi-category-store\versions\8